.modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    z-index: 990;
    left: 0;
    position: fixed;
    top: 0;
}