.modal_popup {
    text-align: center;
    align-items: center;
    background-color: #1c1c21;
    border: 1px solid rgba(76, 76, 255, .2);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 720px;
    z-index: 6;
}

.modal_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 64px;
    min-width: 640px;
}

.close_icon {
    cursor: pointer;
}