.container {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

.burger_category_box {
    overflow-x: hidden;
    height: 60vh;
    overflow-y: auto;
    padding: 0;
    scrollbar-color: #8585ad #2f2f37;
}


.nav_box {
    display: flex;
}